<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>check-Payment</title>
</head>
<body>

    <form id="form-payme" method="POST" action="https://checkout.paycom.uz/">
        <input type='hidden' name='merchant' value=<%= amount %>/>
        <input type='hidden' name='amount' value='62864e6a72a6247c42008e13'/>
          <input type='hidden' name="account[fullname]" value=<%= fullname %> />
          <input type='hidden' name="account[order_id]" value=<%= order_id %> />
        <input type="hidden" name="lang" value="ru">
        <input type='hidden' name='callback' value='https://urgaztest.ru/'/>
        <button class='checkout-btn' type="submit">To'lov qilish</button>
    </form>
    
  </body>
  </html>